@import url(/assets/font/fira_code.css);
html {
  font-family: 'Fira Code', monospace; }

header {
  width: 100%;
  background-color: #3c3836;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

div.submenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -1cm;
  margin-top: 0.5cm;
  width: 21cm; }

div.submenu a {
  text-decoration: none;
  padding: 5px;
  margin-right: 4px;
  background-color: #928374; }

div.submenu a.active {
  background-color: #f9f5d7; }

header a:hover {
  background-color: #f9f5d7;
  color: #3c3836; }

input {
  margin: auto; }

header a, header p {
  color: #f9f5d7;
  padding: 10px;
  margin: 0;
  text-decoration: none; }

header a {
  font-size: 14pt;
  font-weight: bold; }

header a.active {
  background-color: #928374;
  color: #3c3836; }

body {
  background-color: #928374;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

::selection,
::-moz-selection {
  background: #928374; }

.page, .article {
  box-sizing: border-box;
  background-color: #f9f5d7;
  width: 21cm;
  min-width: 21cm;
  padding: 1.5cm;
  margin-top: 1cm;
  margin-bottom: 0.5cm; }

.image {
  max-width: 100%;
  margin-top: 1cm;
  margin-bottom: 0.5cm; }

.page, .article, div.submenu a, .image {
  position: relative; }

.page:before, .article:before, div.submenu a:before, .image:before {
  content: "";
  box-shadow: 0 0 0.5cm #3c3836;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.page {
  height: 29.7cm;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

h1, h2, h3, h4, h5, p, a, ul, li {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
  color: #3c3836; }

h1 {
  font-size: 25pt;
  margin: 0.75em 0; }

h2 {
  color: #076678;
  font-size: 12pt;
  font-weight: bold;
  margin: 1em 0; }

h3 {
  font-size: 14pt;
  text-transform: uppercase;
  margin: 0.75em 0;
  border-bottom-style: solid;
  border-bottom-width: 1pt; }

.page div {
  margin-top: 1em;
  margin-bottom: 1em; }

.page div .infoPerso, .page div .skillBox, .page div .infoPersoItem {
  margin: 0; }

h4 {
  font-size: 10pt;
  color: #3c3836;
  font-weight: bold;
  margin-top: 0.75em; }

h5 {
  color: #076678;
  font-size: 10pt; }

a {
  text-decoration: underline; }

svg {
  max-width: 100%;
  height: 100%; }

svg polygon {
  fill: #f9f5d7; }

svg .if polygon {
  stroke: #af3a03;
  fill: #f9f5d7; }

svg .if text {
  fill: #af3a03;
  font-family: "Fira Code";
  font-size: 9pt; }

svg .start path {
  stroke: #076678;
  fill: #f9f5d7; }

svg .start text {
  fill: #076678;
  font-family: "Fira Code";
  font-size: 9pt; }

svg .type polygon {
  stroke: #9d0006;
  fill: #f9f5d7; }

svg .type text {
  fill: #9d0006;
  font-family: "Fira Code";
  font-size: 8pt; }

svg .edge path, svg .edge polygon {
  stroke: #3c3836;
  fill: #3c3836; }

svg .edge text {
  fill: #3c3836;
  font-family: "Fira Code";
  font-size: 9pt; }

.mainSide {
  flex: 1;
  display: grid;
  grid-template-columns: 65% auto;
  grid-column-gap: 1cm; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.infoPerso {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: nowrap; }

.infoPersoItem svg {
  fill: #8f3f71;
  margin: 1mm;
  height: 10pt;
  width: 10pt; }

.infoPersoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #427b58; }

.infoPersoItem p, .infoPersoItem a {
  color: #427b58; }

.tag {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #af3a03;
  padding: 2px;
  margin: 1px;
  font-style: italic;
  color: #af3a03;
  background: #f9f5d7;
  font-size: 9pt;
  display: inline-block;
  text-align: center; }

.tag p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 8pt; }

.skillBox {
  display: flex;
  justify-content: space-between; }

.skillBox p {
  font-size: 10pt; }

.skillOn svg {
  fill: #9d0006;
  height: 12pt;
  width: 12pt; }

.skillOff svg {
  fill: #7c6f64;
  height: 12pt;
  width: 12pt; }

.latex sub {
  vertical-align: -0.3ex;
  margin-left: -0.1667em;
  margin-right: -0.125em; }

.latex, .latex sub {
  font-size: 1em; }

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em; }

@media screen and (min-width: 22cm), print {
  .page h1, .page h2, .page h3, .page h4, .page h5, .page div {
    margin: 5px; } }
@media screen and (max-width: 22cm) {
  header {
    margin: 0; }

  .page, .article, div.submenu {
    min-width: 0;
    width: 100%;
    height: 100%;
    box-shadow: none; }

  .page, .article {
    display: inline-block;
    padding: 1em;
    margin-bottom: 0; }

  .main {
    display: inline-block; } }
@media screen and (max-width: 16cm) {
  .mainSide {
    display: inline-block;
    flex: 0;
    grid-column-gap: 0cm; }

  .page div {
    margin-top: 0;
    margin-bottom: 0; } }
